
<div class="container imggg mt-4">
    <div class="row">
        <div class="col">
            <div class="text-center mt-4 p-4">
                <h2>Lo mejor de buscar en es</h2>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <input type="text" class="b" placeholder="Ubicacion">
                <input type="text" class="b " placeholder="Ciudad">
                <div class="btn-group" role="group">
                    <button type="button" class="  dropdown-toggle s" data-bs-toggle="dropdown" aria-expanded="false">
                        Tipos
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Arriendo</a></li>
                        <li><a class="dropdown-item" href="#">Venta</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-5 ">
        <div class="col mx-4">
            <div>
                <input type="checkbox" value="terminos"> Aceta los terminos y condiciones
            </div>
        </div>
        <div class="col text-end mx-4">
            <div>
                <button type="submit" class="btn btn-outline-primary">Confirmar</button>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let casa of casas">
                <td> {{casa.antiguedad}} </td>
                <td> {{casa.area}} </td>
                <td> {{casa.pais}} </td>
                <td> {{casa.descripcion}} </td>
                <td> <button (click)="borrar" class="btn btn-outline-danger" routerLink="/editar/{casa.id}">Eliminar</button> </td>
                <td> <button class="btn btn-outline-warning " routerLink="/delete/{casa.id}">Update</button> </td>
            </tr>
        </tbody>
    </table>







</div>