<div class="m-4 justify-content-center align-content-center">
  <div class="card bg-light border-2 border-bottom ">
    <div class="card-body">
      <!-- Aplicar metodo update en el formulario para actualizar cambiarlo a casas e implemetnarlos en el edit
        persona los metodos -->
      <form action="">
        <div class="input-group mb-3"> <input type="text" class="form-control form-control-lg bg-ligh fs-6"
            placeholder="Nombre" name="name" /> </div>
        <div class="input-group mb-3">
          <input type="email" class="form-control form-control-lg bg-ligh fs-6" placeholder="Correo electronico"
            name="email"/>
        </div>
        <div class="input-group mb-3"> <input type="password" class="form-control form-control-lg bg-ligh fs-6"
            placeholder="Contraseña" name="password" /> </div>
        <div class="input-group mb-3">
          <input type="number" class="form-control form-control-lg bg-ligh fs-6" placeholder="Telefono"
            name="telefono" />
        </div>
        <div class="col-auto">
          <div class="input-group mb-3"> <input type="date" class="form-control form-control-sm bg-ligh fs-6"
              placeholder="Fecha nacimientt0" name="fecha" /> <select class="form-select mx-4"
              aria-label="Default select example">
              <option selected>Sexo</option>
              <option value="masculino">M</option>
              <option value="femenino">F</option>
              <option value="femenino">other</option>
            </select>
          </div>
        </div>
        <div class="col-auto">
          <div class="input-group mb-3"> <input type="text" class="form-control form-control-sm bg-ligh fs-6"
              placeholder="Ciudad" name="ciudad" /> <input type="text"
              class="form-control form-control-sm bg-ligh mx-3 fs-6" placeholder="Pais" name="pais" />
          </div>
        </div>
        <div class="input-group mb-5 d-flex justify-content-between">
          <!-- checkbox -->
        </div>
        <div class="input-group mb-3">
          <button class="btn btn-lg btn-primary w-100 fs-6" type="submit">Modificar</button>
        </div>
      </form>
    </div>
  </div>

</div>
