<div class="m-4 justify-content-center align-content-center">
  <div class="card ">
    <div class="card-body">
      <!-- Aplicar el metodo onCreate para crear las casas probar -->
      <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <div class="input-group mb-3">
          <input type="text" class="form-control form-control-lg bg-ligh fs-6" placeholder="Nombre" name="name"
            name="name" [value]="casa.name" [(ngModel)]="casa.name" required />
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control form-control-sm bg-ligh fs-6" placeholder="Dirrecion" name="dirrecion"
            [value]="casa.dirrecion" [(ngModel)]="casa.dirrecion" required />
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control form-control-lg bg-ligh fs-6" placeholder="descripcion"
            name="descripcion" [value]="casa.descripcion" [(ngModel)]="casa.descripcion" />
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control form-control-lg bg-ligh fs-6" placeholder="Piso" name="piso"
            [value]="casa.piso" [(ngModel)]="casa.piso" />
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control form-control-lg bg-ligh fs-6" placeholder="Antiguedad"
            name="antiguedad" [value]="casa.antiguedad" [(ngModel)]="casa.antiguedad" />
        </div>
        <div class="col-auto">
          <div class="input-group mb-3">
            <input type="text" class="form-control form-control-sm bg-ligh fs-6" placeholder="estrato" name="estrato"
              [(ngModel)]="casa.estrato" />
            <select class="form-select mx-4" aria-label="Default select example" name="tipoVenta" required>

              <option value="arriendo" selected>Arriendo</option>
              <option value="venta">Venta</option>
              <option value="hipoteca">Hipoteca</option>
            </select>
          </div>
        </div>
        <div class="col-auto">
          <div class="input-group mb-3">
            <input type="text" class="form-control form-control-sm bg-ligh fs-6" placeholder="Ciudad" name="ciudad"
              [value]="casa.ciudad" [(ngModel)]="casa.ciudad" required />
            <input type="text" class="form-control form-control-sm bg-ligh mx-3 fs-6" placeholder="Pais" name="pais"
              [value]="casa.pais" [(ngModel)]="casa.pais" required />
          </div>
        </div>
        <div class="input-group mb-5 d-flex justify-content-between">
          <!-- checkbox -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary mx-4" data-bs-dismiss="modal">Close</button>
          <button class="btn btn-success " type="submit" [disabled]="!f.valid">Crear Casa</button>
        </div>
      </form>
    </div>
  </div>
</div>