<div class="container">
    <div class="row mt-4">
        <img src="assets/imagenes/residencial-casa-linda.jpg" style="height: 5rem; width: 10rem ;" />
        <div class="col-md-4 flex-column left-box">
            <div class="row">
                <h4>Adrian s.a</h4>
            </div>
            <div class="row">
                <a href="" class="link-primary">Buena aventura calle 22 12-a</a>
            </div>
            <div class="row"><span></span></div>
        </div>
    </div>
    <div class="row">
        <div class="col mt-5 d-flex justify-content-center align-items-center flex-column left-box">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked />
                <label class="btn btn-outline-primary" for="btnradio1">VIDEOS</label>
                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" />
                <label class="btn btn-outline-primary" for="btnradio3">FOTOS</label>
            </div>
        </div>
    </div>
</div>




<app-img-slider> </app-img-slider>







<!-- DESCRIPCION -->



<div class="container">
    <div class="row">
        <div class="col">
            <div>
                <h5>Descripcion general</h5>
            </div>
            <div>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore
                tempora sunt fugit corporis hic? Voluptate harum unde mollitia a natus,
                quasi itaque? Iure consequuntur dicta iste. Odit, aut? Illum, odit.
            </div>
        </div>
    </div>
    <!--     <div class="row mt-4">
        <div class="col-lg-4 col-md-3">
            <div class="card">
                <div class="card-body text-primary text-wrap">
                    <fa-icon [icon]="faCoffee" class="text-danger"></fa-icon><span class="card-text">Estrato</span>
                    <br />
                    <p class="card-text mx-5">2</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card">
                <div class="card-body text-wrap text-primary">
                    <fa-icon [icon]="faHand" class="text-danger"></fa-icon><span class="card-text">Estado</span>
                    <br />
                    <p class="card-text mx-3">Terminado</p>
                </div>
            </div>
        </div>
    </div> -->




    <!-- CARACTERISTICA -->

    <div class="row">
        <H4 class="mt-5">Caracteristicas</H4>
        <div class="col-4">

            <div class="form-check">
                <input class="form-check-input" name="gimnasio" type="checkbox" value=""
                    id="flexCheckIndeterminateDisabled" checked />
                <label class="form-check-label text-dark" for="flexCheckIndeterminateDisabled">
                    Gimnasio
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="salon" name="salon" id="flexCheckDisabled"
                    checked />
                <label class="form-check-label" for="flexCheckDisabled">
                    Salon de juegos
                </label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-check">
                <input class="form-check-input" name="Piscina" type="checkbox" value=""
                    id="flexCheckIndeterminateDisabled" checked />
                <label class="form-check-label text-dark" for="flexCheckIndeterminateDisabled">
                    Piscina
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="parqueadero" name="parqueadero"
                    id="flexCheckDisabled" checked />
                <label class="form-check-label" for="flexCheckDisabled">
                    parqueadero
                </label>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <button type="button" class="btn btn-outline-primary mt-4" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Mostrar mas caracteristicas
            </button>

        </div>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Caracteristicas</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-4">

                            <div class="form-check">
                                <input class="form-check-input" name="gimnasio" type="checkbox" value=""
                                    id="flexCheckIndeterminateDisabled" checked />
                                <label class="form-check-label text-dark" for="flexCheckIndeterminateDisabled">
                                    Gimnasio
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="salon" name="salon"
                                    id="flexCheckDisabled" checked />
                                <label class="form-check-label" for="flexCheckDisabled">
                                    Salon de juegos
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-check">
                                <input class="form-check-input" name="gimnasio" type="checkbox" value=""
                                    id="flexCheckIndeterminateDisabled" checked />
                                <label class="form-check-label text-dark" for="flexCheckIndeterminateDisabled">
                                    Gimnasio
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="salon" name="salon"
                                    id="flexCheckDisabled" checked />
                                <label class="form-check-label" for="flexCheckDisabled">
                                    Salon de juegos
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>






    <!-- ubicacion -->
    <div class="row">
        <div class="col">
            <div class="mt-3">
                <h3>Ubicacion</h3>
            </div>
            <div class="col">
                <h6>Dirrecion</h6>

                <div class="col">
                    <span>Cra 7 este 22-27 Torre Barcelona Chía - Sala de Negocios</span>
                </div>
                <div class="col mt-4">
                    <h6>Barrio</h6>
                </div>
                <div class="col">
                    <span>CHIA | MENOR</span>
                </div>
            </div>
            <img src="assets/imagenes/googl.png" alt="Mapa" style="height: 20rem; width: 60rem;">
        </div>
    </div>
    <app-coment></app-coment>