<main class="d-inline-flex">
  <div class="d-flex flex-column flex-shrink-0 p-3  text-dark mx-4" style="width: 280px;">
    <div class="">
      <a href="#" class="d-flex align-items-center text-dark text-decoration-none">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <h5 class="">Adrian Castro</h5>
      </a>

    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a class="nav-link text-dark"  data-bs-toggle="collapse" data-bs-target="#edit-u">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#home"></use>
          </svg>
          Informacion
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-dark" aria-current="page" data-bs-toggle="collapse" data-bs-target="#create-u"
          aria-expanded="false" aria-controls="create-u">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#speedometer2"></use>
          </svg>
          Administrar Casas
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-dark">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#table"></use>
          </svg>
          Help
        </a>
      </li>
    </ul>
    <hr>
  </div>
 <!-- desplegable edit usuario -->
 <div class="d-flex flex-column mt-4 ">
  <div class="collapse collapse-horizontal" id="edit-u">
    <div class="input-group mb-3"> <input type="text" class="form-control form-control-lg bg-ligh fs-6"
      placeholder="Nombre" name="nombre" disabled [(ngModel)]="user.nombre" required />
  </div>
  <div class="input-group mb-3">
    <input type="email" class="form-control form-control-lg bg-ligh fs-6" placeholder="Correo electronico"
      name="email" disabled [(ngModel)]="user.email" required=""/>
  </div>
  <div class="input-group mb-3"> <input type="password" class="form-control form-control-lg bg-ligh fs-6"
      placeholder="Contraseña" name="password" disabled [(ngModel)]="user.password" required /> </div>
  <div class="input-group mb-3">
    <input type="number" class="form-control form-control-lg bg-ligh fs-6" placeholder="Telefono"
      name="telefono" disabled [(ngModel)]="user.telefono" />
  </div>
  <div class="col-auto">
    <div class="input-group mb-3">
      <input type="date" class="form-control form-control-sm bg-ligh fs-6" placeholder="Fecha nacimiento"
        name="fecha" disabled [(ngModel)]="user.fecha" />
      <select class="form-select mx-4" aria-label="Default select example" name="sexo" disabled [(ngModel)]="user.sexo">
        <option selected>Sexo</option>
        <option value="masculino">M</option>
        <option value="femenino">F</option>
        <option value="otro">other</option>
      </select>
    </div>
  </div>
  <div class="col-auto">
    <div class="input-group mb-3">
      <input type="text" class="form-control form-control-sm bg-ligh fs-6" placeholder="Ciudad" name="ciudad"
        disabled [(ngModel)]="user.ciudad" />
      <input type="text" class="form-control form-control-sm bg-ligh mx-3 fs-6" placeholder="Pais" name="pais"
        disabled [(ngModel)]="user.pais" />
    </div>
  </div>
  <div class="input-group mb-5 d-flex justify-content-between">
    <!-- checkbox -->
    <div class="form-check"> <input type="checkbox" value="acepta" class="form-check-input" id="formCheck" />
      <label for="formCheck" class="form-check-label text-secondary"><small>Acepto
          terminos</small></label>
    </div>
  </div>
  <div class="input-group mb-3">
    <button class="btn btn-lg btn-primary w-100 fs-6" type="submit"  routerLink="/user/edit/{{user.id}}">Modificar</button>
  </div>
  </div>
</div>



  <!-- desplegable casas -->
  <div class="d-flex flex-column mt-4 ">
    <div class="collapse collapse-horizontal" id="create-u">
      <button type="button" class="btn btn-outline-primary align-items-center justify-content-center"
        data-bs-toggle="modal" data-bs-target="#crearCasa">
        Crear Casa
      </button>
      <app-user-casa></app-user-casa>
    </div>
  </div>
  <!-- Modal para crear una casa -->
  <div class="modal fade" id="crearCasa" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="crearCasa">CrearCasa</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-create></app-create>
        </div>
      </div>
    </div>
  </div>
</main>