<nav class="navbar navbar-expand-lg bg-dark border-bottom" style="background-color: #fff;">
    <div class="container-fluid">
        <a class="navbar-brand link-light" href="#">
            <img src="" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            D.L RAIZ
        </a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav d-flex ">

              <nav *ngIf="estado=='ok'">  <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="assets/imagenes/residencial-casa-linda.jpg" class="img-fluid rounded-circle mr-2" style="max-width: 35px;">
                  {{user.nombre}}
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="/user/config">Mi Perfil</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" routerLink="/" (click)="onLogout()">Logout</a></li>
                </ul>
              </li></nav>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#"></a>
                </li>
                <li class="nav-item" *ngIf="estado!='ok'">
                    <a class="nav-link link-light" routerLink="/login"> Sing up</a>
                </li>
                <li class="nav-item" *ngIf="estado!='ok'">
                    <a class="nav-link link-light" routerLink="/registro">Registrase</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<i class="fa-solid fa-list"></i>