<nav class="navbar navbar-expand-lg bg-primary border-bottom" style="background-color: #fff;">
    <div class="container-fluid">
        <a class="navbar-brand link-light" href="#">
            <img src="" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            D.L RAIZ
        </a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav d-flex ">

              <ng-template #session>  <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="assets/imagenes/residencial-casa-linda.jpg" class="img-fluid rounded-circle mr-2" style="max-width: 35px;">
                  Adrian Castro
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Mi Perfil</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Logout</a></li>

                </ul>
              </li></ng-template>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" routerLink="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" routerLink="/registro">Registrase</a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>