<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="row border rounded-5 p-3 bg-white shadow box-area"> <!-- izquierda caja     -->
    <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box">
      <!-- Acomodar Imagen -->
      <div class="featured-image"> <img src="assets/imagenes/residencial-casa-linda.jpg" class="img-fluid"
          style="width: 250px" />
      </div>
      <p class=" fs-4" style="font-family: 'Courier new,Courier,monospace'; font-weight: 500px">
        Bienvenido a D.L FINCA</p> <small class=" text wrap text-center"
        style="width: 17rem; font-family: 'Courier new,Courier,monospace'"> La mejor experiencia para
        encontrar casa</small>
    </div> <!-- derecha caj -->
    <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column righ-box">
      <div class="row align-items-center"> <!-- titulo -->
        <div class="header-text mb-4">
          <h1>Hello,Again</h1>
          <p>Estamos
            felices de que cuentes con nosotros</p>
        </div>
        <!--agregar formulario -->
        <form action="">
          <div class="input-group mb-3"> <input type="text" class="form-control form-control-lg bg-ligh fs-6"
              placeholder="Nombre" name="name" [(ngModel)]="name" />
          </div>
          <div class="input-group mb-3">
            <input type="email" class="form-control form-control-lg bg-ligh fs-6" placeholder="Correo electronico"
              name="email" [(ngModel)]="email" />
          </div>
          <div class="input-group mb-3"> <input type="password" class="form-control form-control-lg bg-ligh fs-6"
              placeholder="Contraseña" name="password" [(ngModel)]="password" /> </div>
          <div class="input-group mb-3">
            <input type="number" class="form-control form-control-lg bg-ligh fs-6" placeholder="Telefono"
              name="telefono" [(ngModel)]="telefono" />
          </div>
          <div class="col-auto">
            <div class="input-group mb-3">
              <input type="date" class="form-control form-control-sm bg-ligh fs-6" placeholder="Fecha nacimiento"
                name="fecha" [(ngModel)]="fecha" />
              <select class="form-select mx-4" aria-label="Default select example" [(ngModel)]="sexo">
                <option selected>Sexo</option>
                <option value="masculino">M</option>
                <option value="femenino">F</option>
                <option value="otro">other</option>
              </select>
            </div>
          </div>
          <div class="col-auto">
            <div class="input-group mb-3">
              <input type="text" class="form-control form-control-sm bg-ligh fs-6" placeholder="Ciudad" name="ciudad"
                [(ngModel)]="ciudad" />
              <input type="text" class="form-control form-control-sm bg-ligh mx-3 fs-6" placeholder="Pais" name="pais"
                [(ngModel)]="pais" />
            </div>
          </div>
          <div class="input-group mb-5 d-flex justify-content-between">
            <!-- checkbox -->
            <div class="form-check"> <input type="checkbox" value="acepta" class="form-check-input" id="formCheck" />
              <label for="formCheck" class="form-check-label text-secondary"><small>Acepto
                  terminos</small></label>
            </div>
          </div>
          <div class="input-group mb-3">
            <button class="btn btn-lg btn-primary w-100 fs-6" type="submit">Register</button>
          </div>
        </form> <!--boton de google -->
        <div class="input-group mb-3"> <button class="btn btn-lg btn-light w-100 fs-6 border-primary"><img
              src="assets/imagenes/google.png" class="me-2" style="width: 20px;">Inicie con google</button>
        </div>
      </div>
    </div>
  </div>
</div>
